body {
    overflow: hidden;
}
* {
    outline: none;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 19px;
}

::-webkit-scrollbar {
    background: #161616;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #7effa5, #7eabff);
    border-radius: 8px;
}